.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40vmin;
}

.CounterWindow {
  border: 1px solid white;
  border-radius: 15px;
  height: 400px;
  width: 500px;
  padding: 10px;
  margin: 15px;
}

.CounterMonitor {
  color: white;
  background-color: #4a67a1;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 40px;
  padding: 10px;
  margin: 20px;
  height: 250px;
  word-wrap: break-word;
  align-content: center;
}


.CounterMonitorError {
  background-color: #4a67a1;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  margin: 20px;
  height: 250px;
  word-wrap: break-word;
  align-content: center;
  color: #6a0400;
}

.SettingsWindow {
  border: 1px solid white;
  border-radius: 15px;
  height: 400px;
  width: 500px;
  padding: 10px;

}


.inp {
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  border: 4px solid #282c34;
  border-radius: 5px;
  outline: none;
  height: 25px;
  width: 250px;
  font-size: 25px;

}

.inpError {
  background-color: transparent;
  margin: 10px;
  padding: 5px;
  border: 4px solid #6a0400;
  border-radius: 5px;
  outline: none;
  height: 25px;
  width: 250px;
  font-size: 25px;
}

.SettingsMonitor {
  color: white;
  background-color: #4a67a1;
  border-radius: 15px;
  border: 1px solid white;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  height: 250px;
  word-wrap: break-word;
  align-content: center;
}

button {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 29px;
  color: white;
  background-color: #4a67a1;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 15px;
}








.error {
  background-color: rgba(255,10,0,0.21);
  opacity: 50%;
}
.redButton {
  background-color: rgba(255,10,0,0.21);
}
.reset {
  background-color: rgba(255,10,0,0.21);
}












